<header class="dashboard-header">
  <p class="logo">B <span class="logo-acent-color">P</span></p>
</header>
<main class="dashboard-flex-container">
  <aside class="dashboard-nav">
    <div class="icon-container">
      <i class="material-icons" aria-label="House icon">
        house
      </i>
    </div>
    <div class="icon-container">
      <i class="material-icons" aria-label="Money-loss icon">
        attach_money
      </i>
      <i class="material-icons" aria-label="Down arrow icon">
        arrow_drop_down
      </i>
    </div>
    <div class="icon-container">
      <i class="material-icons" aria-label="Money-gain icon">
        attach_money
      </i>
      <i class="material-icons" aria-label="Up arrow icon">
        arrow_drop_up
      </i>
    </div>
  </aside>
  <section class="dashboard-content-container">
    <overview></overview>
    <!-- <expenses></expenses>
    <savings></savings> -->
  </section>
</main>
