.dashboard-header {
  display: flex;
  width: 100%;
  padding: 13px 0 13px 42px;
  background-color: white;
  .logo {
    color: darkslategray;
    letter-spacing: 2px;
    font-size: 34px;
    font-style: italic;
  }
}
.dashboard-flex-container {
  display: flex;
  .dashboard-nav {
    // display: inline-block;
    // height: 100%;
    background-color: white;
    padding: 45px 30px 0 30px;
    // width: 10%;
    @media (max-width: 910px) {
      position: fixed;
      display: flex;
      bottom: 0;
      width: 100%;
      padding: 15px;
      justify-content: center;
      align-items: center;
    }
    .icon-container {
      position: relative;
      margin-bottom: 20px;
      border-radius: 5px;
      text-align: center;
      @media (max-width: 910px) {
        margin-bottom: 0;
        margin-right: 10px;
      }
      &:hover {
        background-color: rgba(57, 0, 212, 0.678);
        color: whitesmoke;
      }
      a.nav-link {
        display: inline-block;
      }
      a.active {
        background-color: rgba(58, 41, 107, 0.271);
        color: rgb(58, 41, 107);
        border-radius: 5px;
      }
      .material-icons {
        font-size: 40px;
        margin: 10px;
        z-index: 1;
      }
      .adjacent-icon {
        position: absolute;
        left: 18px;
      }
    }
  }
  .dashboard-content-container {
    // display: inline-block;
    background-color: rgba(0, 212, 57, 0.127);
    width: 90%;
    padding: 45px;
    border-radius: 25px 0 0 25px;
    @media (max-width: 910px) {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}
