<header class="dashboard-header">
  <a routerLink="/">
    <h2 class="logo">BP</h2>
  </a>
</header>
<main class="dashboard-flex-container">
  <aside class="dashboard-nav">
    <div class="icon-container">
      <a routerLink="/dashboard/overview" routerLinkActive="active">
        <i class="material-icons" aria-label="House icon">
          house
        </i>
      </a>
    </div>
    <div class="icon-container expense-icons">
      <a routerLink="/dashboard/expenses" routerLinkActive="active">
        <i class="material-icons" aria-label="Money icon">
          money_off
        </i>
      </a>
    </div>
    <div class="icon-container savings-icons">
      <a routerLink="/dashboard/savings" routerLinkActive="active">
        <i class="material-icons" aria-label="Money icon">
          attach_money
        </i>
      </a>
    </div>
  </aside>
  <section class="dashboard-content-container">
    <router-outlet></router-outlet>
  </section>
</main>
