.expense-flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  .add-expense-container {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-radius: 10px;
  }
  .expense-total-container {
    background-color: white;
    border-radius: 10px;
  }
}
.flex-form {
  display: flex;
  .flex-col {
    flex-direction: column;
  }
  .add-btn {
    align-self: center;
    background-color: transparent;
    border: 2px solid #598c5b;
    color: #598c5b;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 10px;
    &:disabled {
      color: #eaeaea;
      border-color: #eaeaea;
      cursor: default;
    }
  }
  .btn {
    align-self: center;
  }
}
.edit-expense-container {
  margin-bottom: 15px;
}

.add-expense {
  font-size: 38px;
}

.sub-heading {
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 3px;
}
.table-container {
  max-height: 80%;
  overflow-y: scroll;
  width: 85%;
  table {
    width: 100%;
  }
}
.expense-icons {
  font-size: 26px;
  cursor: pointer;
}
