<article class="dashboard-overview">
  <div class="card">
    <h3 class="card-title">
      Monthly Income
    </h3>
    <!-- this is going to be a form to change amount, but placeholder for now -->
    <h2>$4,000</h2>
  </div>
  <div class="card">
    <h3 class="card-title">
      Expenses
    </h3>
    <h2>$2,500</h2>
  </div>
  <div class="overview-goals-container">
    <div class="card card__savings">
      <div class="card-icon">
        <i></i>
      </div>
      <h4 class="card-subheading">Goal</h4>
      <h3>$1,000</h3>
      <h4 class="card-subheading">Current</h4>
      <h3>$557</h3>
      <div class="card-footer">
        <h4>Saving $100/mo</h4>
      </div>
    </div>
  </div>
</article>
