<article class="dashboard-overview">
  <div class="card">
    <h3 class="card-title">
      Monthly Income
    </h3>
    <form [formGroup]="incomeForm" (ngSubmit)="onSubmit()" *ngIf="editIncome">
      <input type="text" formControlName="income" />
      <button type="submit">Update</button>
    </form>
    <h2>
      {{ budgetData?.income | currency }}
      <i
        class="material-icons"
        aria-label="Edit icon"
        (click)="toggleEditIncomeForm()"
      >
        edit
      </i>
    </h2>
  </div>
  <div class="card">
    <h3 class="card-title">
      Expenses
    </h3>
    <h2>{{ budgetData?.expenseTotal | currency }}</h2>
  </div>
  <div class="overview-goals-container">
    <div class="card card__savings" *ngFor="let goal of budgetData?.savings">
      <div class="card-icon">
        <i></i>
      </div>
      <h4 class="card-subheading">{{ goal.name }}</h4>
      <h3>{{ goal.goal | currency }}</h3>
      <h4 class="card-subheading">Current</h4>
      <h3>{{ goal.current | currency }}</h3>
      <div class="card-footer">
        <h4>Saving {{ goal.savingPerMonth | currency }}/mo</h4>
      </div>
    </div>
  </div>
</article>
