.overview {
  display: flex;
  justify-content: space-around;
  margin-bottom: 45px;
  @media (max-width: 570px) {
    display: initial;
  }
  .card {
    flex: 0 0 30%;
  }
}
.income-form {
  .mat-form-field {
    display: block;
  }
  .btn {
    margin: 3px 0;
    width: 100%;
  }
  .secondary-btn {
    margin-bottom: 10px;
  }
}
.income-edit-icon {
  color: darkseagreen;
  margin-left: 7px;
  &:hover {
    cursor: pointer;
  }
}
