<article class="overview">
  <div class="card">
    <h3 class="card-subheading">
      Monthly Income
    </h3>
    <form [formGroup]="incomeForm" (ngSubmit)="onSubmit()" *ngIf="editIncome">
      <input type="text" formControlName="income" />
      <button type="submit">Update</button>
    </form>
    <h2 class="card-amount">
      {{ budgetData?.income | currency }}
      <i
        class="material-icons income-edit-icon"
        aria-label="Edit icon"
        (click)="toggleEditIncomeForm()"
      >
        edit
      </i>
    </h2>
  </div>
  <div class="card">
    <h3 class="card-subheading">
      Expenses
    </h3>
    <h2 class="card-amount">{{ budgetData?.expenseTotal | currency }}</h2>
  </div>
</article>
<article class="goals-container">
  <div class="card card__savings" *ngFor="let goal of budgetData?.savings">
    <h4 class="card-subheading">{{ goal.name }}</h4>
    <div class="card-icon">
      <i class="material-icons" aria-label="Goal icon">
        {{ goal.icon }}
      </i>
    </div>
    <h3 class="card-amount">{{ goal.goal | currency }}</h3>
    <h4 class="card-subheading">Current</h4>
    <h3 class="card-amount">{{ goal.current | currency }}</h3>
    <div class="card-footer">
      <h4>Saving {{ goal.savingPerMonth | currency }}/mo</h4>
    </div>
  </div>
</article>
