<header>
  <h2 class="logo-heading">Budget Planner</h2>
</header>
<main class="landing-container">
  <h1 class="headline">Life is Unpredictable</h1>
  <h2 class="subheadline">Take Control of Your Money</h2>
  <div class="demo-button-container">
    <h3 class="subheading">
      See a Demo
    </h3>
    <a routerLink="/dashboard" class="btn primary-btn">My Budget </a>
  </div>
</main>
<img
  src="../../../assets/images/eli1.svg"
  alt="abstract shape"
  class="shape1 shapes"
/>
<img
  src="../../../assets/images/eli2.svg"
  alt="abstract shape"
  class="shape2 shapes"
/>
