<article class="after-expenses-container">
  <h3>Money After Expenses</h3>
  <h2>{{ moneyLeft | currency }}</h2>
  <p>How much should we save?</p>
  <form [formGroup]="amountToSaveForm">
    <input type="text" formControlName="type" />
    <input type="text" formControlName="amount" />
  </form>
</article>
<article class="new-goal-container">
  <!-- <form>
    name select-icon goal amount save per month
  </form> -->
</article>
<article class="goals-container">
  <div class="goal-card" *ngFor="let goal of budgetData.savings"></div>
</article>
