<article class="savings-form-flex-container">
  <div class="new-goal-container">
    <form
      *ngIf="!showEditGoalForm"
      [formGroup]="goalForm"
      (ngSubmit)="addGoal()"
    >
      <h2 class="subheading">New Goal</h2>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input id="add-goal-name" matInput type="text" formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Choose Icon</mat-label>
        <mat-select formControlName="icon">
          <mat-option *ngFor="let icon of iconNames" [value]="icon">
            {{ icon }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput type="text" formControlName="goal" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Saving Per Month</mat-label>
        <input matInput type="text" formControlName="savePerMonth" />
      </mat-form-field>
      <button type="submit" class="btn primary-btn">Add Goal</button>
    </form>
    <form
      *ngIf="showEditGoalForm"
      [formGroup]="editGoalForm"
      (ngSubmit)="updateGoal()"
    >
      <h2 class="subheading">Edit Goal</h2>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          id="edit-goal-name"
          matInput
          type="text"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Choose Icon</mat-label>
        <mat-select formControlName="icon">
          <mat-option *ngFor="let icon of iconNames" [value]="icon">
            {{ icon }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput type="text" formControlName="goal" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Saving Per Month</mat-label>
        <input matInput type="text" formControlName="savePerMonth" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Current</mat-label>
        <input matInput type="text" formControlName="current" />
      </mat-form-field>
      <button type="submit" class="btn primary-btn">Submit</button>
      <button (click)="cancelEdit()" class="btn secondary-btn">Cancel</button>
    </form>
  </div>
  <div class="amount-to-save-container">
    <div class="edit-savings-amount">
      <h3 class="subheading">Money Left to Save</h3>
      <h2>{{ moneyLeft | currency }}</h2>
    </div>
    <h4 class="form-heading">From that, how much should we save?</h4>
    <form [formGroup]="amountToSaveForm" (ngSubmit)="addAmountToSave()">
      <mat-form-field appearance="outline">
        <mat-label>Amount to Save</mat-label>
        <input matInput type="text" formControlName="amount" />
      </mat-form-field>
      <button type="submit" class="btn primary-btn">save</button>
    </form>
    <h2>{{ atsAfterGoals }}</h2>
  </div>
</article>
<article class="goals-container">
  <div class="card card__savings" *ngFor="let goal of budgetData?.savings">
    <h4 class="card-subheading">{{ goal.name }}</h4>
    <div class="card-icon">
      <i class="material-icons" aria-label="Goal icon">
        {{ goal.icon }}
      </i>
    </div>
    <h3 class="card-amount">{{ goal.goal | currency }}</h3>
    <h4 class="card-subheading">Current</h4>
    <h3 class="card-amount">{{ goal.current | currency }}</h3>
    <div class="card-footer">
      <h4>Saving {{ goal.savingPerMonth | currency }}/mo</h4>
    </div>
    <div class="goal-actions">
      <i
        class="material-icons goal-icons edit-icon"
        aria-label="Edit icon"
        (click)="toggleEditGoalForm(goal.id)"
      >
        edit
      </i>
      <i
        class="material-icons goal-icons delete-icon"
        aria-label="Delete icon"
        (click)="deleteGoal(goal.id)"
      >
        delete
      </i>
    </div>
  </div>
</article>
<article></article>
