.savings-form-flex-container {
  display: flex;
  align-items: flex-start;
}
.new-goal-container {
  background-color: white;
  width: 31%;
  padding: 19px 25px 17px 25px;
  border-radius: 8px;
  .mat-form-field {
    display: block;
    margin-bottom: 6px;
  }
  button {
    margin: 8px 0 5px 0;
    width: 100%;
  }
}
.amount-to-save-container {
  background-color: white;
  width: 41%;
  padding: 19px 25px 17px 25px;
  border-radius: 8px;
  margin-left: 120px;
  .edit-savings-amount {
    margin-bottom: 16px;
    .subheading {
      margin-bottom: 0;
    }
  }
  .form-heading {
    font-weight: normal;
    margin-bottom: 8px;
    color: darkslategray;
  }
  .ats-after-goals {
    margin-top: 16px;
    .subheading {
      margin-bottom: 0;
    }
  }
}
.goal-actions {
  text-align: right;
  margin-right: 8px;
  color: darkslategray;
  .goal-icons {
    font-size: 26px;
    cursor: pointer;
  }
}
